# Created by .ignore support plugin (hsz.mobi)
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/modules/thread-tutor.iml
/.idea/modules/behavior.iml
/.idea/modules/libtutor_test.iml
/.idea/modules/libtutor_main.iml
/.idea/modules/structure.iml
/.idea/modules/libtutor.iml
